:root {
    --headerTitleWidth: 3px;
    --navBarBorderWidth: 1px;
    --headerNavItemHorPadding: 20px;
    --headerNavItemVertPadding: 15px;
}

/* For small phone screeens */
@media screen and (max-width: 600px) {
    .navbar-toggler {
        padding-top: calc(0.5em + 1vw) !important;
        padding-bottom: calc(0.5em + 1vw) !important;
    }
}


.headerTitleSection {
    background-color: var(--primaryBg);
    border-bottom: var(--headerTitleWidth) solid var(--primary);
    padding: 15px 0 20px 0;
}

.headerOption {
    float: right;
}

.headerTitle {
    text-decoration: none;
    color: var(--headerTitleColor);
}

.navBarContainer {
    margin-top: calc(-1 * var(--headerTitleWidth) + 0.5px);
}

.navBarContainer .navbar {
    background-color: var(--primary);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
    border-bottom: var(--navBarBorderWidth) solid var(--primary);
    border-left: var(--navBarBorderWidth) solid var(--primary);
    border-right: var(--navBarBorderWidth) solid var(--primary);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* ===== Menu options on the navigation bar ===== */

.navBarContainer .nav-link {
    color: var(--primaryBg);
    padding: 1px !important;
}

.navBarContainer .nav-link.active {
    background-color: var(--primaryHover) !important;
    color: var(--primaryBg) !important;
    border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
}

.navBarContainer .nav-link div {
    padding-top: var(--headerNavItemVertPadding);
    padding-bottom: var(--headerNavItemVertPadding);
    padding-left: var(--headerNavItemHorPadding) !important;
    padding-right: var(--headerNavItemHorPadding) !important;
    border: 1px solid var(--primary);
    border-radius: var(--smBorderRadius);
}

.navBarContainer .nav-link.active div {
    border-color: var(--primaryHover);
}

/* hovering on the navigation bar option */
.navBarContainer .nav-link:hover,  .navBarContainer .nav-link.active:hover {
    background-color: var(--primaryBg) !important;
    color: var(--primaryHover) !important;
    border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
    border-top: 1px solid var(--primaryBg);
    transition: var(--navTransition);
}

.navBarContainer .nav-link:hover div, .navBarContainer .nav-link.active:hover div {
    border-color: var(--primaryBg);
    transition: var(--navTransition);
}

/* clicking on the navigation bar option */
.navBarContainer .nav-link:active div {
    border-color: var(--primary);
}

.navBarContainer .nav-link:visited, .navBarContainer .nav-link.active:visited {
    color: var(--primaryBg) !important;
}

/* ============================================== */
/* ===== Menu icon for mobile phones ============ */

.navBarContainer .navbar-toggler {
    padding-top: var(--headerNavItemVertPadding);
    padding-bottom: var(--headerNavItemVertPadding);
    padding-left: var(--headerNavItemHorPadding) !important;
    padding-right: var(--headerNavItemHorPadding) !important;
    border-color: var(--primary);
}

/* the 3 lines on the icon */
.mobileMenuLine {
    height: 3px;
    width: 30px;
    margin: 4px;
    border-radius: var(--smBorderRadius);
    background-color: var(--primaryBg);
}

/* hovering over the icon */
.navBarContainer .navbar-toggler:hover, .themeDropdown:hover {
    background-color: var(--primaryBg) !important;
    color: var(--primaryHover);
    transition: all 0.5s ease-out;
}

.navBarContainer .navbar-toggler:hover .mobileMenuLine {
    background-color: var(--primaryHover);
    transition: var(--navTransition);
}

.navBarContainer .navbar-toggler:focus {
    box-shadow: none;
}

/* ============================================== */
/* ===== Theme Dropdown Selection =============== */

#themeIcon {
    max-width: 35px; 
    height: auto;
}

#themeIconPath {
    fill: var(--primaryBg);
}

.themeDropdown:hover #themeIconPath {
    fill: var(--primaryHover);
}

.themeDropdown {
    background-color: var(--primary);
    color: var(--primaryBg);
    border: none;
    padding: 11px var(--headerNavItemHorPadding);
    border-radius: 0 0 var(--smBorderRadius) var(--smBorderRadius);
}

.themeDropdown:focus, .themeDropdown:active {
    background-color: var(--primaryHover);
}

.themeDropdownItem:hover {
    background-color: var(--primaryHover);
    color: var(--primaryBg);
}

/* ============================================== */