<!------------------------------------------------

Purpose: Defines static visuals for the "Loading" page

What it contains:
    - Loading screen when the backend is reading the data from the CSVs

-------------------------------------------------->

<div class="my-5 mx-3 row pageContainer">
    <div class="loadingContainer d-flex justify-content-center">
        <div class="my-auto"">
            <div class="spinner-grow loadingCircle loadCircleMed loadCircleRight" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow loadingCircleSecondary loadCircleSlow loadCircleLeft" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow loadingCircle loadCircleMed loadCircleRight" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow loadingCircleSecondary loadCircleSlow loadCircleLeft" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow loadingCircle loadCircleMed loadCircleLeft" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>