<!------------------------------------------------

Purpose: Defines static visuals for the "Overview" page

What it contains:
    - Menu options for manipulating the graph
    - Container for holding the graph and its tables

-------------------------------------------------->



<div class="my-5 mx-3 row pageContainer">
    <div class="mainMenuContainer col-12 col-lg-6 col-xl-4">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link" value="ByMicroorganism" id="nav-ByMicroorganism-tab" data-bs-toggle="tab" data-bs-target="#nav-ByMicroorganism" type="button" role="tab" aria-controls="nav-ByMicroorganism"></button>
          <button class="nav-link" value="ByFood" id="nav-ByFood-tab" data-bs-toggle="tab" data-bs-target="#nav-ByFood" type="button" role="tab" aria-controls="nav-ByFood"></button>
          <button class="nav-link" value="ByOrg" id="nav-ByOrg-tab" data-bs-toggle="tab" data-bs-target="#nav-ByOrg" type="button" role="tab" aria-controls="nav-ByOrg"></button>
        </div>
      </nav>

      <div class="menu tab-content p-3" id="nav-tabContent">

        <!-- By Microorganism -->
        <div class="menuTab tab-pane fade" value="ByMicroorganism" id="nav-ByMicroorganism" role="tabpanel" aria-labelledby="nav-ByMicroorganism-tab">
            
            <div class="accordion" id="byMicroorganismSelectMicroorganismFilterContainer">
                <div class="accordion-item">
                  <h2 class="menuFilterHeading accordion-header" id="byMicroorganismSelectMicroorganismFilterHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#byMicroorganismSelectMicroorganismFilter" aria-controls="byMicroorganismSelectMicroorganismFilter">
                      <span value="microorganism">Dummy Name for the Microorganism Filter Name (This will be overwritten and you will not see me!)</span>
                      <i class="accordionIcon fas fa-chevron-down"></i>
                    </button>
                  </h2>
                  <div id="byMicroorganismSelectMicroorganismFilter" class="accordion-collapse collapse show" aria-labelledby="byMicroorganismSelectMicroorganismFilterHeading" data-bs-parent="#byMicroorganismSelectMicroorganismFilterContainer">
                    <div class="accordion-body">
                      <span id="microorganismLabel">Microorganism:</span><div class="treeSelect" id="Microorganism"></div>
                    </div>
                  </div>
                </div>
            </div>
      
            <div class="accordion mt-3" id="byMicroorganismSelectSurveyTypeFilterContainer">
                <div class="accordion-item">
                    <h2 class="menuFilterHeading accordion-header" id="byMicroorganismSelectSurveyTypeFilterHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#byMicroorganismSelectSurveyTypeFilter" aria-controls="byMicroorganismSelectSurveyTypeFilter">
                          <span value="surveyType">Dummy Name for the Survey Type Filter Name (This will be overwritten and you will not see me!)</span>
                          <i class="accordionIcon fas fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="byMicroorganismSelectSurveyTypeFilter" class="accordion-collapse collapse show" aria-labelledby="byMicroorganismSelectSurveyTypeFilterHeading" data-bs-parent="#byMicroorganismSelectSurveyTypeFilterContainer">
                        <div class="accordion-body">
                          
                          <div id="SurveyType">
                            <label class="checkBoxContainer">
                              <span>Dummy HC</span>
                              <input type="checkbox" checked="checked">
                              <span class="checkmarkIcon"></span>
                            </label>
                            
                            <label class="checkBoxContainer">
                              <span>Dummy PHAC</span>
                              <input type="checkbox">
                              <span class="checkmarkIcon"></span>
                            </label>
                            
                            <label class="checkBoxContainer">
                              <span>Dummy CFIA</span>
                              <input type="checkbox">
                              <span class="checkmarkIcon"></span>
                            </label>
                          </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion mt-3" id="byMicroorganismAjustGraphFilterContainer">
              <div class="accordion-item">
                  <h2 class="menuFilterHeading accordion-header" id="byMicroorganismAjustGraphFilterHeading">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#byMicroorganismAjustGraphFilter" aria-controls="byMicroorganismAjustGraphFilter">
                        <span value="adjustGraph">Dummy Name for the Adjust Graph Filter Name (This will be overwritten and you will not see me!)</span>
                        <i class="accordionIcon fas fa-chevron-down"></i>
                      </button>
                  </h2>
                  <div id="byMicroorganismAjustGraphFilter" class="accordion-collapse collapse show" aria-labelledby="byMicroorganismAjustGraphFilterHeading" data-bs-parent="#byMicroorganismAjustGraphFilterContainer">
                      <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                  </div>
              </div>
          </div>

        </div>

        <!-- By Foods -->
        <div class="menuTab tab-pane fade" value="ByFood" id="nav-ByFood" role="tabpanel" aria-labelledby="nav-ByFood-tab">

            <div class="accordion" id="byFoodSelectFoodFilterContainer">
                <div class="accordion-item">
                  <h2 class="menuFilterHeading accordion-header" id="byFoodSelectFoodFilterHeading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#byFoodSelectFoodFilter" aria-controls="byFoodSelectFoodFilter">
                      <span value="food">Dummy Name for the Food Filter Name (This will be overwritten and you will not see me!)</span>
                      <i class="accordionIcon fas fa-chevron-down"></i>
                    </button>
                  </h2>
                  <div id="byFoodSelectFoodFilter" class="accordion-collapse collapse show" aria-labelledby="byFoodSelectFoodFilterHeading" data-bs-parent="#byFoodSelectFoodFilterContainer">
                    <div class="accordion-body">
                      
                      <div>
                        <span class="me-2" id="foodGroupLabel">Dummy Food Groups:</span>
                        <select class="multiSelect" id="FoodGroup" multiple data-actions-box="true" data-none-selected-text="All Food Groups" data-live-search="true">
                          <option>test</option>
                          <option>test2</option>
                          <option>test3</option>
                        </select>
                      </div>
                      <div class="mt-3">
                        <span class="me-2" id="foodLabel">Dummy Foods:</span>
                        <select class="multiSelect" id="Food" multiple data-actions-box="true" data-none-selected-text="All Foods" data-live-search="true">
                          <option>test</option>
                          <option>test2</option>
                          <option>test3</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
      
            <div class="accordion mt-3" id="byFoodSelectSurveyTypeFilterContainer">
                <div class="accordion-item">
                    <h2 class="menuFilterHeading accordion-header" id="byFoodSelectSurveyTypeFilterHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#byFoodSelectSurveyTypeFilter" aria-controls="byFoodSelectSurveyTypeFilter">
                          <span value="surveyType">Dummy Name for the Survey Type Filter Name (This will be overwritten and you will not see me!)</span>
                          <i class="accordionIcon fas fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="byFoodSelectSurveyTypeFilter" class="accordion-collapse collapse show" aria-labelledby="byFoodSelectSurveyTypeFilterHeading" data-bs-parent="#byFoodSelectSurveyTypeFilterContainer">
                        <div class="accordion-body">
                            
                          <div id="SurveyType">
                            <label class="checkBoxContainer">
                              <span>Dummy HC</span>
                              <input type="checkbox" checked="checked">
                              <span class="checkmarkIcon"></span>
                            </label>
                            
                            <label class="checkBoxContainer">
                              <span>Dummy PHAC</span>
                              <input type="checkbox">
                              <span class="checkmarkIcon"></span>
                            </label>
                            
                            <label class="checkBoxContainer">
                              <span>Dummy CFIA</span>
                              <input type="checkbox">
                              <span class="checkmarkIcon"></span>
                            </label>
                          </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- By Organisation -->
        <div class="menuTab tab-pane fade" value="ByOrg" id="nav-ByOrg" role="tabpanel" aria-labelledby="nav-ByOrg-tab">

            <div class="accordion" id="byOrgSelectSurveyTypeFilterContainer">
                <div class="accordion-item">
                    <h2 class="menuFilterHeading accordion-header" id="byOrgSelectSurveyTypeFilterHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#byOrgSelectSurveyTypeFilter" aria-controls="byOrgSelectSurveyTypeFilter">
                          <span value="surveyType">Dummy Name for the Survey Type Filter Name (This will be overwritten and you will not see me!)</span>
                          <i class="accordionIcon fas fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="byOrgSelectSurveyTypeFilter" class="accordion-collapse collapse show" aria-labelledby="byOrgSelectSurveyTypeFilterHeading" data-bs-parent="#byOrgSelectSurveyTypeFilterContainer">
                        <div class="accordion-body">
                            
                          <div id="SurveyType">
                            <label class="checkBoxContainer">
                              <span>Dummy HC</span>
                              <input type="checkbox" checked="checked">
                              <span class="checkmarkIcon"></span>
                            </label>
                            
                            <label class="checkBoxContainer">
                              <span>Dummy PHAC</span>
                              <input type="checkbox">
                              <span class="checkmarkIcon"></span>
                            </label>
                            
                            <label class="checkBoxContainer">
                              <span>Dummy CFIA</span>
                              <input type="checkbox">
                              <span class="checkmarkIcon"></span>
                            </label>
                          </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
    <div class="visualContainer col-12 col-lg-6 col-xl-8">
      <h1>SPACE FOR OVERVIEW GRAPH AND TABLE</h1>
    </div>
  </div>