<!------------------------------------------------

Purpose: Defines static visuals for the "Trends Over Time" page

What it contains:
    - Menu options for manipulating the graph
    - Container for holding the graph and its tables

-------------------------------------------------->


<div class="my-5 mx-3 row">
  <div class="mainMenuContainer col-12 col-lg-6 col-xl-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" value="ByFood" id="nav-ByFood-tab" data-bs-toggle="tab" data-bs-target="#nav-ByFood" type="button" role="tab" aria-controls="nav-ByFood"></button>
        <button class="nav-link" value="ByMicroorganism" id="nav-ByMicroorganism-tab" data-bs-toggle="tab" data-bs-target="#nav-ByMicroorganism" type="button" role="tab" aria-controls="nav-ByMicroorganism"></button>
      </div>
    </nav>
    <div class="menu tab-content p-3" id="nav-tabContent">
      <div class="tab-pane fade" value="ByFood" id="nav-ByFood" role="tabpanel" aria-labelledby="nav-ByFood-tab">
        AAAAAAA1
      </div>
      <div class="tab-pane fade" value="ByMicroorganism" id="nav-ByMicroorganism" role="tabpanel" aria-labelledby="nav-ByMicroorganism-tab">
        BBBBBBBBB1
      </div>
    </div>
  </div>
  <div class="visualContainer col-12 col-lg-6 col-xl-8">
    <h1>SPACE FOR TRENDS OVER TIME GRAPH AND TABLE</h1>
  </div>
</div>