#footer {
    --footerLandscapeMinHeight: 200px;
    --footerLogoMinHeight: 100px;
}

.footerContainer {
    min-height: calc(var(--footerLandscapeMinHeight) + var(--footerLogoMinHeight));
}

/* ===== Footer navigation bar ===== */

.footerLandscapeContainer {
    position: relative;
}

.footerLandscapeFiller, .footerLandscape, .footerLandscapeFilter {
    min-height: var(--footerLandscapeMinHeight);
    width: 100%;
}

.footerLandscape, .footerLandscapeFilter {
    position: absolute;
}

.footerLandscape {
    background: white url("../../assets/landscape.png") no-repeat right bottom;
    z-index: 0;
}

.footerLandscapeFilter {
    z-index: 1;
    background: var(--primary);
    opacity: 0.9;
}

/* ================================= */
/* ===== Footer Logo =============== */

.footerLogoContainer {
    min-height: var(--footerLogoMinHeight);
}

.footerLogo {
    height: 40px;
    width: auto;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.footerUrlLinks {
    padding: 2em 0;
}

.fip_text {
    fill: var(--fontColour);
}

.fip_flag {
    fill: #ff0000;
}

/* ================================= */